<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <title>世壯運場館資訊站</title>
    <link rel="stylesheet" href="static/index/index.css">
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

</head>

<body style="padding: 0;margin: 0;  ">

    <!-- <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-discussion="contest/198"
        data-comments-limit="5"></script> -->
    <div id="action_bar"></div>
    <script></script>
    <!-- <script type="text/javascript" src="../static/bundle.js"></script> -->
    <div id="babylon_ctnr"></div>
    <!-- <script type="module" src="./babylon_render.js"></script> -->
    <!-- <script>

    </script>
    <script type="text/javascript">

    </script> -->

    <div id="btn_lst"></div>
    <script>
        window.intergramId = "1285070530"
        window.intergramCustomizations = {
            titleClosed: 'ChatBot',
            titleOpen: 'ChatBot',
        } 
    </script>
    <div id="info"></div>
    <script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}">
        </script> -->
    <script type="text/javascript" src="../static/bundle.js"></script>
</body>

</html>